.post {
  max-width: 768px;
  padding: 1.6rem 3.2rem;
  margin: 0 auto;

  &__header {
    position: relative;
    padding-top: 50%;
    border-radius: 8px;
    overflow: hidden;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    & + p {
      margin-top: 0.3em;
    }
  }

  h1,
  h2 {
    margin-top: 2.3em;
    margin-bottom: 0.5em;
  }
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2.25em;
    margin-bottom: 0.5em;
  }

  h1 {
    padding-bottom: 0.5rem;
    font-size: 2.7rem;
    position: relative;
    border-bottom: solid 1px #5c93bb2b
  }
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.8;
  }
  p + p {
    margin-top: 1.5em;
  }

  p > a {
    color: #0f83fd;

    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    font-size: 0.97em;
    margin: 1.4rem 0;
    border-left: solid 3px #9dacb7;
    padding: 2px 0 2px 0.7em;
    color: #505c64;
    p {
      margin: 1rem 0;
    }
    & > :first-child {
      margin-top: 0;
    }
  
    & > :last-child {
      margin-bottom: 0;
    }
  }

  code {
    padding: 0.2em 0.4em;
    background: rgba(33, 90, 160, 0.07);
    font-size: 0.85em;
    border-radius: 4px;
    vertical-align: 0.08em;
  }

  table {
    margin: 2rem auto;
    width: auto;
    border-collapse: collapse;
    font-size: 1.4rem;
    line-height: 1.5;
    word-break: normal;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  th,
  td {
    padding: 0.8rem;
    border: solid 1px #cfdce6;
    background: #fff;
  }
  th {
    font-weight: 700;
    background: #edf2f7;
  }

  pre {
    margin: 1.6rem 0;
    background: #1a2638;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 14, 30, 0.15);
    word-break: normal;
    word-wrap: normal;
    display: flex;
    &:after {
      content: '';
      width: 8px;
      flex-shrink: 0;
    }
    code {
      margin: 0;
      padding: 0;
      background: transparent;
      font-size: 1.4rem;
      color: #fff;
    }
    & > code {
      display: block;
      padding: 1.6rem;
    }
  }
  .code-block-container {
    position: relative;
    margin: 1.3rem 0;
    pre {
      margin: 0;
    }
  }
  .code-block-filename {
    display: table;
    max-width: 100%;
    background: #323e52;
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    line-height: 1.3;
    border-radius: 8px 8px 0 0;
    padding: 6px 12px 20px;
    margin-bottom: -16px;
  }
  .code-block-filename-container + pre {
    border-top-left-radius: 0;
  }

  ol,
  ul {
    font-size: 1.5rem;
    margin: 2.2rem 0;
    line-height: 1.8;
  }
  ol,
  ul {
    margin: 0;
  }
}

.post__tags {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 1.6rem 0;

  + .post__content {
    #title {
      margin-top: 3.2rem;
    }
  }
}
.post__tag {
  font-size: 1.3rem;
  color: #fff;
  background-color: #35475c;
  padding: 0.6rem 1.2rem;
  display: inline-block;
  border-radius: 6px;
}
