.tags {
  max-width: 768px;
  padding: 1.6rem 3.2rem;
  margin: 0 auto;

  &__header {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 4.8rem;
  }

  &__title {
    font-size: 1.8rem;
  }
}
